@import "tailwindcss";

@font-face {
    font-family: "Unbounded";
    src: url("/font/Unbounded-VariableFont_wght.ttf");
}

@theme {
    --color-background: #c2a4ad;
    --color-background-var: #e3cfd4;
    --color-background-var2: #a5808b;
    
    --color-link: #E3CFD4;
    --color-cyan: #dbcfc5;

    /* try */
    --color-beyge: #f9f7f2;
    --color-peach: #ffbe98;
    --color-coral: #fa7268;
    --color-darkerbeyge: #eadfcf;
    --color-grayish: #3b3b3b;
    --color-forest: #a3b18a;
    --color-animate: #edd88a
}

html {
  font-family: "Unbounded";
}




@keyframes drag-in {
  0% {
    transform: translateX(-50%);

  }
  60% {
    transform: translateX(10%);
 
  }
  100% {
    transform: translateX(0);
  }
}

.drag-in {
  animation: drag-in 0.2s ease-out forwards;
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-5deg); }
  50%  { transform: rotate(5deg); }
  75%  { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.hover-wiggle:hover {
  animation: wiggle 0.3s ease-in-out;
}

@keyframes fadeInLetter {
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation-name: fadeInLetter;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}